

body {
    background: #ccffff;
    font-size: 125%;
}

header {
    background: #f08a05;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

h1 {
    color: #ffffff;
}

nav {
    font-family: Arial, "Times New Roman", serif;
    font-size: 150%;
    padding-bottom: 2%;
}

h2 {
    color: #d30c97;
    background: #e6ea00;
}

section {
    width: 30%;
    display: block;
    margin: 1%;
    float: left;
}

ul li {
    list-style: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

ul li::before {
    content: "\2022";
    color: #e66f00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

summary {
    font-style: normal;
}

details {
    font-style: italic;
}

footer {
    background: #26fc98e1;
    clear: both
}

img {
    width: 10%;
}
footer p{
	font-size: 90%;
}
