html {
    font-family: Arial, Helvetica, sans-serif
}
html,
body {
   margin: 0%;
   height:100%;
}
#ballpicture {width: 100%;}
.row {
    display: flex;
    flex-wrap: wrap;
}
.logo {max-width: 8%;
}
.header{
    align-items: center;
    margin-right: 10px;
}
.navigation ul{
    list-style-type: none;
    margin:0px;
padding: 0px;
}
.navigation ul li{
    padding:10px;
    
}
.navigation ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.navigation ul li:hover
    {background-color: #28ce97;}
.navigation ul a:hover {color: #0a0b0a;
    font-weight: bolder;}
.dropdown {
        position: relative;
        display: inline-block;
        }    
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}     
.dropdown:hover .dropdown-content {
        display: block;
        background-color: rgb(198, 194, 192);
   }
.hfooter {background-image: url("./banner.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
padding: 2% 2% 1% 2%;
color:#ffffff}
main {margin-left: auto;
margin-right:auto;}
.detail2_main {box-sizing:border-box;
    border: 3px #cccccc;
    box-shadow: inset 5px 5px 5px #a3a1a1, 5px 5px 5px #afadad;
    display:block;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2% ;}
footer {
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;}
    
footer section {box-sizing: border-box;
        border: none;
        display: block;
        width: 50%;
float:left;
    background-color: #cccccc;
    margin-top: 2%;}
footer section ul{list-style-type: none;
        margin-left: 5%;}
footer h2 {text-align: left;
    margin-left: 10%;}
footer section ul a{
            text-decoration: none;
            color: #000000;
        line-height: 20px;}
.navigation {
            width: 88%;
          }
.icon {
            display: none;
          }
